*, ::before, ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  font-family: Kumbh Sans, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.column {
  padding-right: 20px;
  padding-left: 20px;
}
.col-auto {
  flex: 1;
}
.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (max-width: 1439px) {
  .col-xlg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  
  .col-xlg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  
  .col-xlg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  
  .col-xlg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  
  .col-xlg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  
  .col-xlg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .col-xlg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  
  .col-xlg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  
  .col-xlg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  
  .col-xlg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  
  .col-xlg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  
  .col-xlg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .hidden-md {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .hidden-sm {
    display: none !important;
  }
}


.main-text {
  font-size: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #4A556C;
}

.heading-1 {
  font-weight: 800;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333461;
}

.heading-2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: #333461;
}

.heading-3 {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #041434;
}

.background-color{
  background-color: lightgrey;
}

.main-button {
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  background: #20AD96;
  border: none;
  border-radius: 4px;
}

.app-logo {
  max-width: 150px;
  max-height: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-menu {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.hero{
  padding-top: 55px
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.vector-wrapper {
  margin-left: -50px;
}

.hero-info {
  margin-top: 140px;
  max-width: 575px;
  max-height: 396px;
}

.hero-button {
  margin-top: 18px;
  padding: 9px 16px;
}
.hero-text {
  margin-top: 18px;
}

.hero-photo {
  position: relative;
}

.hero-pic {
  margin-bottom: -46px;
  max-width: 462px;
  max-height: 603px;
}
.hero-logo {
  box-shadow: 1px 0px 40px rgb(183, 181, 181);
  position: absolute;
  z-index: 1;
  top: -35px;
  left: -120px;
  max-width: 237px;
  max-height: 104px;
}

.info-wrapper {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.info-block {
  display: inline-block;
  max-width: 492px;
}

.text-info-block {
  display: inline-block;
  max-width: 468px;
  margin-right: 80px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  padding: 40px;
  max-width: 380px;
  max-height: 328px;
}

.services-item-img {
  margin-bottom: 32px;
}

.services-item-heading {
  margin-bottom: 16px;
}